<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="car" class="di01.Car">
		
		<!-- 생성자 주입 -->
		<!-- constructor-arg name="tire" ref="tire"></constructor-arg -->
		<!-- constructor-arg>
			<ref bean="tire"/>
		</constructor-arg -->	
		
		<!-- 설정자 주입 -->
		<property name="tire" ref="tire"></property>
		
	</bean>
	<bean id="tire" class="di01.KoreaTire"></bean>

</beans>
